html {
    background-color: gray;
}
body {
    background-color: lightgreen;
    margin: 10px;
    padding: 2px;
}
.body{
    border: 3px solid black;
}
.pai {
    background-color: aqua;
    width: 75%;
}
.filha {
    background-color: pink;
    width: 90%;
}
.title {
    border-bottom: 5px solid black;
}